fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
python-dotenv
pydantic-settings
aiogram
openai
pydub
minio
uuid
faststream[redis]
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==6.1.0
