.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 600px;
  width: 300px;
  /* background-color: rgb(40, 142, 64); */
  border-radius: 10px;
  object-fit: cover;
}
